/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/inter-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --15px: 0.938rem;
  --16px: 1rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --48px: 3rem;
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--15px);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--24px) var(--16px);
  max-width: 25rem;
  margin: auto;
}
@media (min-width: 87.5rem) {
  header {
    max-width: 78.75rem;
    padding: var(--24px) 0;
  }
}
nav {
  display: none;
}
@media (min-width: 87.5rem) {
  nav {
    display: block;
  }
}
main {
  padding: 0 var(--16px) var(--24px);
  display: flex;
  flex-direction: column;
  gap: var(--48px);
  max-width: 25rem;
  margin: auto;
}
@media (min-width: 87.5rem) {
  main {
    display: grid;
    grid-template:
      "main main aside" 13rem
      "main main aside" 13rem
      "bottom bottom bottom" 12.5rem;
    max-width: 78.75rem;
    gap: 2.5rem;
    margin: auto;
    padding: 0;
  }
}
#main-article {
  display: flex;
  flex-direction: column;
}
@media (min-width: 87.5rem) {
  #main-article {
    grid-area: main;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
      "img img"
      "heading text"
      "heading link";
    column-gap: 2.5rem;
  }
}
#main-article-img {
  background-image: url("./assets/images/image-web-3-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  height: 250px;
}
@media (min-width: 87.5rem) {
  #main-article-img {
    background-image: url("./assets/images/image-web-3-desktop.jpg");
    grid-area: img;
  }
}
#main-article h1 {
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: var(--48px);
  margin-block: var(--16px);
  line-height: 1;
}
@media (min-width: 87.5rem) {
  #main-article h1 {
    grid-area: heading;
    margin-top: var(--16px);
  }
}
#main-article p {
  color: var(--dark-grayish-blue);
  line-height: 1.7;
  font-size: var(--16px);
}
@media (min-width: 87.5rem) {
  #main-article p {
    grid-area: text;
    font-size: var(--15px);
    margin-right: var(--15px);
    padding-top: var(--15px);
  }
}
#main-article a {
  background: var(--soft-red);
  padding: var(--16px);
  color: var(--very-dark-blue);
  text-decoration: none;
  width: 150px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: var(--24px);
  text-align: center;
  cursor: pointer;
}
@media (min-width: 87.5rem) {
  #main-article a {
    grid-area: link;
  }
}
#main-article a:hover {
  color: var(--off-white);
  background: var(--very-dark-blue);
}
#side-articles {
  background: var(--very-dark-blue);
  color: var(--off-white);
  padding: var(--16px);
}
@media (min-width: 87.5rem) {
  #side-articles {
    grid-area: aside;
  }
}
#side-articles h2 {
  color: var(--soft-orange);
  font-size: var(--32px);
  margin-block: var(--15px);
}
#side-articles section {
  border-bottom: 1px solid var(--grayish-blue);
  padding: var(--24px) 0;
}
#side-articles section:last-child {
  border-bottom: none;
}
#side-articles section h3 {
  cursor: pointer;
  font-size: var(--24px);
}
#side-articles section h3:hover {
  cursor: pointer;
  color: var(--soft-orange);
}
#side-articles section p {
  color: var(--grayish-blue);
  margin-top: var(--16px);
  font-size: var(--16px);
}
#bottom-articles {
  display: flex;
  flex-direction: column;
  gap: var(--32px);
}
@media (min-width: 87.5rem) {
  #bottom-articles {
    grid-area: bottom;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
#bottom-articles section {
  display: flex;
  gap: var(--24px);
}
.image-container {
  width: 35%;
}
.text-container {
  width: 65%;
}
#bottom-articles section div img {
  width: 100%;
}
span {
  color: var(--soft-red);
  font-size: var(--32px);
  font-weight: 600;
}
h4 {
  color: var(--very-dark-blue);
  margin-block: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}
h4:hover {
  color: var(--soft-red);
}
.text-container p {
  color: var(--dark-grayish-blue);
  line-height: 2;
}
